html, body {
  // CSS margin/padding reset
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #3D7A99;
}

.page-content {
  > .wrapper {
    margin: 25px;
  }
  float: right;
  width: 80%;
}

.site-header {
  > .wrapper {
    padding: 10px;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  float: left;
  min-height: 100%;
}

.post, .page-link, .site-header {
  margin-bottom: 6px;
  background-color: #c0c0c0;
  border: 2px outset #828281;
}

.site-header {
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
.post {
  > .wrapper {
    padding: 20px;
  }
  margin-bottom: 16px;
  background-color: #c0c0c0;
  border: 2px outset #828281;
}

.site-footer {
  text-align: center;
}

.page-link {
  display: block;
  padding: 4px;
  text-decoration: none;
}
.page-link:hover{
  text-decoration: none;
}
.page-link:active {
  border: 2px inset #828281;
  text-decoration: none;
}

.page-link2 {
  display: block;
  padding: 4px;
  text-decoration: none;
}